nav {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    font-family: 'Share Tech', sans-serif;
    width: 100vw;
    max-width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    /* z-index: 1; */
  }
  
  /* Style the links inside the navigation bar */
  nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  nav a:hover {
    background-color: rgb(251, 114, 0);
    color: black;
  }
  
  /* Add a color to the active/current link */
  nav a.active {
    background-color: #2c080d;
    color: white;
  }

 
    


body {
    background: url("image") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
}

main {
    margin: auto;
    width: auto;
    max-width: 1080px;
    align-items: center;
    padding: 40px 34;
}

h1, h2, h3 {
    color: rgba(137, 7, 4, 0.8);
    text-align: center;
    font-family: 'Share Tech', sans-serif;
}

.topContainer{
    background: url("./media/52.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    z-index: -1;
    background-size: cover;
 } 

.topHeader {    
    text-align: center;
    z-index: 1;
}

#topTitle {
    font-size: 50px;
    font-family: 'Share Tech', sans-serif;
    color: white;
    background-color: rgba(137, 7, 4, 0.5);
    opacity: 1;
    align-items: center;
    z-index: 1;
} 

.social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(137, 7, 4, 0.9);
    padding: 10px;
    border-radius: 25px;
}

#discord-logo {
    height: 25px;
}

#zkill-logo {
    height: 25px;
    padding-left: 10px;
}

#main-page-img-logo{
    left: 50%;
    position: static;
    width: 250px;
    height: 250px;
    background-attachment: fixed;
    z-index: 0;
    padding-top: 100px;
}

p {
    font-size: 20px;
    color: white;
    font-family: 'Share Tech', sans-serif;
}

#first {
    padding: 20px;
}

li {
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    color: white
}

#dotted-line {
    
    
    border-top: black;
    border-style: dashed;
    border-width: .4px;
    
}
